/* container */
.container { width: 1000px; margin: 0 auto;}

/* row */
.row {position: relative; margin: 0 20px;}

/* header */
#header .header-data {
  font-weight: 300;
  font-size: 12px;
  padding-top: 30px;
  display: block;
  color: #a8a8a8;
}
#header .header-title {
  font-weight: bold;
  font-size: 32px;  
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 10px;
  margin-bottom: 15px;
}
#header .header-id {
  position: absolute; right: 0; bottom: 12px;
  width: 40px; height: 40px; 
  border-radius: 50%;
  font-weight: 500;
  font-size: 18px;
  color: #fff;  
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  /* text-align: center; line-height: 40px; */
  background: linear-gradient(142.13deg, #A4A9B5 11.8%, rgba(164, 169, 181, 0) 82.89%), #C4C4C4;
}
#header .header-id span {
  display: block;
}

/* bestM */
.bestM .best-title .bt-stitle { font-size: 12px; color: #DA5E7C; line-height: 1.67;}
.bestM .best-title .bt-title { font-size: 22px; padding-bottom: 5px;}
.bestM .best-title .bt-desc {font-size: 22px; color: #818181; font-weight: 300; margin-bottom: 10px;}

/* recentM */
.recentM { padding: 10px 0; margin-top: 19px; overflow: hidden; }
.recentM .recent { float: left; width: 49%; margin-right: 2%;}
.recentM .recent:last-child { margin-right: 0;}
.recentM h2 { font-weight: bold; font-size: 20px; margin-bottom: 12px; margin-top: 16px; border-top: 1px solid #ebebeb; padding-top: 20px;}
.recentM .recent-title .rt-stitle { font-size: 15px; line-height: 1.9;}
.recentM .recent-title .rt-title { font-size: 15px; color: #908F94; font-weight: 300;}


/* nextM */
.nextM { padding: 10px 0; margin-top: 19px; }
.nextM h2 { font-weight: bold; font-size: 20px; margin-bottom: 12px; margin-top: 16px; border-top: 1px solid #ebebeb; padding-top: 20px; }
.nextM .next-wrap {}
.nextM .next { display: flex; margin-bottom: 16px; position: relative;}
.nextM .next::after { content:''; position: absolute; right: 0; bottom: -8px; height: 1px; background-color: #ebebeb; width: calc(100% - 114px); }
.nextM .next .next-img { width: 102px; margin-right: 12px;}
.nextM .next .next-tit { display: flex; flex-direction: column; justify-content:center;}
.nextM .next .next-tit .nt-stitle { color: #DA5E7C; font-size: 12px;}
.nextM .next .next-tit .nt-title { font-size: 16px;}
.nextM .next .next-tit .nt-desc { 
  font-size: 13px; color: #A1A1A3; font-weight: 300; 
  overflow: hidden;
  display:-webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
   text-overflow: ellipsis; 
}

/* play */
.play { 
  position: fixed; bottom: 67px;left: 0; z-index: 9000; 
  width: 100%; height: 62px;  background-color: rgba(255,255,255,.7);
  backdrop-filter: saturate(180%) blur(20px);
  display: flex; align-items: center;
}
.play .play-img { width: 48px; padding: 8px 20px; }
.play .play-img img { border-radius: 5px;  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);}
.play .play-tit { font-size: 16px;}
.play .play-play { margin-left: auto; padding-right: 10px; cursor: pointer;} 
.play .play-next { cursor: pointer; margin-right: 20px; }


/* nav */
.nav { position: fixed; left: 0; bottom: 0;  z-index: 9000; width: 100%; background: #fff; }
.nav ul { display: flex; text-align: center; padding-top: 10px;}
.nav ul li { flex-basis: 20%; }
.nav li a { display: block;  }
.nav li a span { display: block; font-size: 10px; line-height: 1; color: #999; padding-bottom: 20px; }

/* mediaquery */
@media only all and (max-width: 1020px) {
  .container { width: 100%; }
}